<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Game List</title>
</head>
<body>
<h1>Game List</h1>
<a href="/games/add">Add New Game</a>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Sales</th>
        <th>Released</th>
        <th>Release date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="game : ${games}">
        <td th:text="${game.title}"></td>
        <td th:text="${game.genre}"></td>
        <td th:text="${game.sales}"></td>
        <td th:text="${game.released}"></td>
        <td th:text="${game.releaseDate}"></td>
        <td>
            <a th:href="@{/games/edit/{id}(id=${game.id})}">Edit</a>
            <a th:href="@{/games/delete/{id}(id=${game.id})}" onclick="return confirm('Are you sure you want to delete this game?');">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>